{
    "extends": ["eslint:recommended"],
    "env": {
        "node": true,
        "es6": true
    },
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "sourceType": "module",
        "requireConfigFile": false
    },
    "rules": {
        "indent": ["error", 4],
        "quotes": ["error", "double"],
        "semi": ["error", "always"],
        "no-trailing-spaces": "error",
        "max-len": ["warn", {"code": 100, "comments": 100}]
    }
}
