<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head", {title: "People"}) %> 
</head>
<body>
    <main>
        <section>
            <h3>All people</h3>
            <% people.forEach(person => { %>
                <%- include("../components/card", {
                    title: `${person.name} ${person.lastname}`,
                    content: `This person is ${person.age} years old`,
                    titleLinkTo: `/person/${person.id}`,
                    deleteLink: `/person/delete/${person.id}`
                }) %> 
            <% }) %>
        </section>

        <section>
            <%- include("create") %> 
        </section>

    </main>
</body>
</html>